In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("hotel_bookings.csv")
print(df.head(1))

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
0                        0                     0       2  ...    No Deposit

   agent company days_in_waiting_list customer_type  adr  \
0    NaN     NaN                    0     Transient  0.0

   required_car_parking_spaces  total_of_special_requests  reservation_status  \
0                            0                          0           Check-Out

  reservation_status_date
0              2015-07-01

[1 rows x 32 columns]

In [6]:
df = df.drop(['company'], axis = 1)
df = df.dropna(axis = 0)

In [7]:
df1 = df.copy()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102894 entries, 3 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           102894 non-null  object
 1   is_canceled                     102894 non-null  int64
 2   lead_time                       102894 non-null  int64
 3   arrival_date_year               102894 non-null  int64
 4   arrival_date_month              102894 non-null  object
 5   arrival_date_week_number        102894 non-null  int64
 6   arrival_date_day_of_month       102894 non-null  int64
 7   stays_in_weekend_nights         102894 non-null  int64
 8   stays_in_week_nights            102894 non-null  int64
 9   adults                          102894 non-null  int64
 10  children                        102894 non-null  float64
 11  babies                          102894 non-null  int64
 12  meal                            102894 non-null  object
 13  country                         102894 non-null  object
 14  market_segment                  102894 non-null  object
 15  distribution_channel            102894 non-null  object
 16  is_repeated_guest               102894 non-null  int64
 17  previous_cancellations          102894 non-null  int64
 18  previous_bookings_not_canceled  102894 non-null  int64
 19  reserved_room_type              102894 non-null  object
 20  assigned_room_type              102894 non-null  object
 21  booking_changes                 102894 non-null  int64
 22  deposit_type                    102894 non-null  object
 23  agent                           102894 non-null  float64
 24  days_in_waiting_list            102894 non-null  int64
 25  customer_type                   102894 non-null  object
 26  adr                             102894 non-null  float64
 27  required_car_parking_spaces     102894 non-null  int64
 28  total_of_special_requests       102894 non-null  int64
 29  reservation_status              102894 non-null  object
 30  reservation_status_date         102894 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 25.1+ MB

In [9]:
df['hotel'] = df['hotel'].map({'Resort Hotel':0, 'City Hotel':1})
df['hotel'].unique()

array([0, 1], dtype=int64)

In [10]:
df['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [11]:
df['arrival_date_month'] = df['arrival_date_month'].map({'January':1, 'February': 2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7,
                                                            'August':8, 'September':9, 'October':10, 'November':11, 'December':12})
df['arrival_date_month'].unique()

array([ 7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,  6], dtype=int64)

In [12]:
df['customer_type'].unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [14]:
df['deposit_type'].unique()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

In [15]:
df['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [16]:
df['assigned_room_type'].unique()

array(['A', 'C', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'K'], dtype=object)

In [18]:
# Import label encoder 
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column. 
df['customer_type']= label_encoder.fit_transform(df['customer_type']) 
df['assigned_room_type'] = label_encoder.fit_transform(df['assigned_room_type'])
df['deposit_type'] = label_encoder.fit_transform(df['deposit_type'])
df['reservation_status'] = label_encoder.fit_transform(df['reservation_status'])
df['meal'] = label_encoder.fit_transform(df['meal'])
df['country'] = label_encoder.fit_transform(df['country'])
df['distribution_channel'] = label_encoder.fit_transform(df['distribution_channel'])
df['market_segment'] = label_encoder.fit_transform(df['market_segment'])
df['reserved_room_type'] = label_encoder.fit_transform(df['reserved_room_type'])
df['reservation_status_date'] = label_encoder.fit_transform(df['reservation_status_date'])
  
print('customer_type:', df['customer_type'].unique())
print('reservation_status', df['reservation_status'].unique())
print('deposit_type', df['deposit_type'].unique())
print('assigned_room_type', df['assigned_room_type'].unique())
print('meal', df['meal'].unique())
print('Country:',df['country'].unique())
print('Dist_Channel:',df['distribution_channel'].unique())
print('Market_seg:', df['market_segment'].unique())
print('reserved_room_type:', df['reserved_room_type'].unique())

customer_type: [2 0 3 1]
reservation_status [1 0 2]
deposit_type [0 2 1]
assigned_room_type [0 2 3 4 6 5 8 1 7 9]
meal [0 1 2 3 4]
Country: [ 59 134 166  51  76 138 123 126   6 132  43  56  15  29  34  66  81  46
 139 151  11  52  42  25  54 112  27 100 122 150   3  75  31 106 103 163
 101 133 147  30  12  23  99 159 171  40 172 173  48  91  38  72   5 158
  82  71  69  80  77  60   4  63 165  83  28  41  35  61  92 120 105 168
 149   1  55  86 127  73  94 130 143 152  13  20 125 155  47 107 116   7
  85  98  39  33 114  36 148 162  19  32  84 153 144  14 141 170 131 137
  50 129 109 115  79  49 124  37  21 102 154 160  44  90  53  78  70 140
  88 104  18 167  74 156 121  16 169 161  58  22  62 157  64  87  97  65
 111 164 117  57 110 128  17  95 108 118  24 135  26   0   2 146  45 136
  68  96   9  67   8 113 119  89 142  10 145  93]
Dist_Channel: [0 3 1 2]
Market_seg: [2 6 3 5 4 1 0]
reserved_room_type: [0 2 3 4 6 5 7 1]

In [13]:
#https://www.kaggle.com/code/amarloni/eda-best-regression-data-visualization/notebook